@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.formLogin {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.formLogin input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.formLogin button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.formLogin button:hover,.formLogin button:active,.formLogin button:focus {
  background: #43A047;
}
.formLogin .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.errorMessage {
  margin: 25px 0 0;
  color: #ca254d;
  font-size: 12px;
}
.formLogin .message a {
  color: #4CAF50;
  text-decoration: none;
}
.formLogin .register-form {
  display: none;
}

/*body {
  background: #76b852; /* fallback for old browsers 
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}*/




.title {
  text-align: center;
}

.nav {
  margin-bottom: 10px;
}

.playerBtn {
  margin:auto;
  margin-top: 10px;
  width: 25%;
  display: block;
  /*width: 100px;*/
}
.shown {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}

.winCriteria {
  margin-top: 10px;
  margin-bottom: 30px;
  display: block;
  width: auto;
}

.winCriteria label {
  padding-left: 50px;
}

.selectstats {
  margin-bottom: 10px;
  margin-top: 10px;
}

#delete_row {
  margin-left: 20px;
}


.foo {
  /*float: left;*/
  width: 20px;
  height: 20px;
  /*margin: 5px;*/
  vertical-align: text-bottom;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid rgba(0, 0, 0, .2);
  display: inline-block;
}

.foo div {

  text-align: center;
  vertical-align: middle;
/*  margin-bottom: 20px;
  padding-bottom: 20px;*/
}

.leg {
  font-size: 20px;
  display: inline-block;
}

.blue {
  background: #1f77b4;
}

.orange {
  background: #ff7f0e;
}

.green {
  background: #2ca02c;
}