.title {
  text-align: center;
}

.nav {
  margin-bottom: 10px;
}

.playerBtn {
  margin:auto;
  margin-top: 10px;
  width: 25%;
  display: block;
  /*width: 100px;*/
}
.shown {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}

.winCriteria {
  margin-top: 10px;
  margin-bottom: 30px;
  display: block;
  width: auto;
}

.winCriteria label {
  padding-left: 50px;
}

.selectstats {
  margin-bottom: 10px;
  margin-top: 10px;
}

#delete_row {
  margin-left: 20px;
}


.foo {
  /*float: left;*/
  width: 20px;
  height: 20px;
  /*margin: 5px;*/
  vertical-align: text-bottom;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid rgba(0, 0, 0, .2);
  display: inline-block;
}

.foo div {

  text-align: center;
  vertical-align: middle;
/*  margin-bottom: 20px;
  padding-bottom: 20px;*/
}

.leg {
  font-size: 20px;
  display: inline-block;
}

.blue {
  background: #1f77b4;
}

.orange {
  background: #ff7f0e;
}

.green {
  background: #2ca02c;
}